<h1 class=" animated fadeIn fast">Acerca de Comic APP</h1>
<hr>
<p class=" animated fadeIn"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, voluptatum. Possimus quos consectetur quis quibusdam animi dignissimos reiciendis, officiis nihil rem itaque quae, praesentium sint modi aliquid aliquam repellat ipsam?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum harum officia saepe reprehenderit quia nobis dolorum, ipsam, quam laboriosam sequi, voluptates ipsum autem doloribus sunt. Odio asperiores sint eveniet numquam!
</p>